.example-container{
    width: 150vh;
}

table{
    width: 150vh;
}

.mat-form-field {
    font-size: 14px;
    width: 150vh;
  }

th{
    text-align: center;
}

td{
    text-align: center;
}

.mat-colum{
    border-right: 1px solid #e0e0e0;
}

.option-icon {  
    color: teal;
  }