<div class="example-container mat-elevation-z8">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>
  
    <table mat-table [dataSource]="dataSource">
  
      <!-- Artículo Column -->
      <ng-container matColumnDef="article">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Artículo </th>
        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.document.name}} </td>
      </ng-container>
  
      <!-- Autor Column -->
      <ng-container matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef> Creado por: </th>
        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.autor.name}} </td>
      </ng-container>
  
      <!-- Editor Column -->
      <ng-container matColumnDef="editor">
        <th mat-header-cell *matHeaderCellDef> Editado por: </th>
        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.editor.name}} </td>
      </ng-container>
  
      <!-- Comentario Column -->
      <ng-container matColumnDef="coment">
        <th mat-header-cell *matHeaderCellDef> Comentario </th>
        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.coment}} </td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef> Ultima actualización </th>
        <td mat-cell *matCellDef="let element" class="mat-colum"> {{element.updatedAt  | amTimeAgo}} </td>
      </ng-container>

      <!-- Opciones Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button class="button" matTooltip="ver contenido">
            <mat-icon class="option-icon" >visibility</mat-icon>  
          </button>
          <button mat-icon-button class="button" matTooltip="editar contenido">
            <mat-icon (click)="closeSheet($event)" [routerLink]="['/edit-document', element._id]" class="option-icon">edit</mat-icon>  
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
