
<div *ngIf="isAuthenticated; then authLinks else gestLinks"></div>

<ng-template #authLinks>
  <mat-toolbar style="background-color: teal;">
    <mat-toolbar-row #authLinks>
      <button type="button" mat-button (click)="drawer.toggle()" class="button">
        <mat-icon >menu</mat-icon>
      </button>
  
      <a class="logo" mat-button [routerLink]="['/']" ><span>TODE</span></a>
      
      <span class="example-spacer"></span>
  
    <!-- button menu for requested dicuments. -->
      <button mat-icon-button [matMenuTriggerFor]="requests" class="button">
        <mat-icon matBadge="{{requestNumber}}" matBadgePosition="above after" matBadgeColor="accent">people_alt</mat-icon>
      </button>
      <mat-menu #requests="matMenu" class="mat-menu-requests">
          <app-requests></app-requests>
      </mat-menu>
  
      <!-- button menu for messages. -->
      <!-- *ngIf="visibleChat == true" [matMenuTriggerFor]="messages"  -->        
      <button mat-icon-button class="button" (click)="openBottomSheet()">
        <mat-icon >message</mat-icon>
      </button>
      <mat-menu #messages="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
      </mat-menu>
  
      <!-- button menu for notifications. -->
      <button mat-icon-button [matMenuTriggerFor]="notifications" class="button">
        <mat-icon matBadge="{{notificationNumber}}" matBadgePosition="above after" matBadgeColor="accent">notifications</mat-icon>
      </button>
      <mat-menu #notifications="matMenu" class="mat-menu-notifications">
            <app-notifications></app-notifications>
      </mat-menu>
  
      <!-- button menu for user. -->
      <button mat-icon-button [matMenuTriggerFor]="user" class="button">
        <mat-icon >account_circle</mat-icon> <span >{{auth.name}}</span> </button>
      <mat-menu #user="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Salir</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-template>

<ng-template #gestLinks>
  <mat-toolbar style="background-color: teal;">
    <mat-toolbar-row #gestLinks>
      <button type="button" mat-button (click)="drawer.toggle()" class="button">
        <mat-icon >menu</mat-icon>
      </button>
  
      <a class="logo" mat-button [routerLink]="['/']" ><span>TODE</span></a>
      
      <span class="example-spacer"></span>
  
      <a class="login-link" mat-button href='https://192.168.1.103:4000/api/oauth2'> <mat-icon color="primary">person</mat-icon> Login with SCEIBA</a>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-template>

<mat-drawer-container class="example-container" autosize backdropClick>
  <mat-drawer #drawer class="example-sidenav" mode="over">
      <section>
        <div class="example-button-row">
          <a class="sidenav-link" mat-button [routerLink]="['/documents']" (click)="drawer.toggle()"> <mat-icon color="primary">folder</mat-icon> Biblioteca</a>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-button-row">
          <a class="sidenav-link" mat-button [routerLink]="['/documents-shared']" (click)="drawer.toggle()"><mat-icon color="primary">folder_shared</mat-icon> Biblioteca Compartida</a>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-button-row">
          <a class="sidenav-link" mat-button [routerLink]="['/create-document']" (click)="drawer.toggle()"><mat-icon color="primary">library_add</mat-icon> Nuevo Documento</a>
        </div>
      </section>
      <section>
        <div class="example-button-row">
          <a class="sidenav-link" mat-button [routerLink]="['/texture']" (click)="drawer.toggle()"><mat-icon color="primary">library_add</mat-icon> Texture</a>
        </div>
      </section>
      <mat-divider></mat-divider>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>


<!-- <mat-drawer-container class="example-container" autosize backdropClick>
  <mat-drawer #drawerChat class="example-sidenav" mode="over" position="end">
      <section>
        <div class="example-button-row">
          <a class="sidenav-link" mat-button [routerLink]="['/documents']" (click)="drawerChat.toggle()"> <mat-icon color="primary">folder</mat-icon> Biblioteca</a>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-button-row">
          <a class="sidenav-link" mat-button [routerLink]="['/documents-shared']" (click)="drawerChat.toggle()"><mat-icon color="primary">folder_shared</mat-icon> Biblioteca Compartida</a>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-button-row">
          <a class="sidenav-link" mat-button [routerLink]="['/create-document']" (click)="drawerChat.toggle()"><mat-icon color="primary">library_add</mat-icon> Nuevo Documento</a>
        </div>
      </section>
      <mat-divider></mat-divider>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-chat></app-chat>
  </div>

</mat-drawer-container> -->